<%= form_tag({:controller => :dropbox, :action => :searchresult}, :method => "get") do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>